
<div class="container">
    <div class="card text-white home-box">
        <div class="card-home" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">BooksSummary</h5>
            <p class="card-text sub-text">Consult the note, reviews and quotes about a book</p>
            <p class="card-text sub-text">Remember the main ideas of the book you are reading. </p>
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary" %>
                    <%= link_to "Sign up", new_user_session_path, class: "btn btn-success text-white" %>
                </div>
            </div>
        </div>
    </div>
</div>
